.contact-label {
  padding: 40px;
}

.form-contenedor {
  margin: 2rem;

  h3 {
    margin: 2rem;
    text-align: center;
    font-family: $font-one;
  }

  .btn {
    font-family: $font-two;
    background-color: $secondary-color;
    border-color: $secondary-color;
    margin: 1.5rem;
  }
}

.bloque-form {
  justify-content: center;
  align-items: center;
  border: solid black 4px;
  padding: 8px 20px 8px 20px;
}

.mapa {
  padding: 3rem;

  h2 {
    text-align: center;
    font-family: $font-one;
  }
  .findus-mapa {
    border: solid black 4px;
    margin: 20px;
  }
}
