* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  position: sticky;
  z-index: 2;
  top: 0;
}

body {
  font-family: $font-one;
  background-image: radial-gradient($main-color 70%, $secondary-color);
  color: $secondary-color;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.seccion-oscura {
  border-top: solid black 4px;
  background-image: linear-gradient(
    $main-color 1%,
    $tertiary-color 50%,
    $secondary-color
  );
}

h1 {
  font-size: $title-size;
}

h2 {
  font-size: $subtitle-size;
}

h3 {
  font-size: $third-size;
}
