* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

header {
  position: sticky;
  z-index: 2;
  top: 0;
}

body {
  font-family: "Playfair Display", serif;
  background-color: #ff051b;
  color: black;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}
