.welcome {
  min-height: 450px;
  text-align: center;
  color: black;
}

.welcome-central {
  padding: 3rem;
}

.follow-us {
  padding: 40px;
}

.social img {
  padding: 5px;
  text-align: center;
  justify-content: center;
}

.follow-us-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}

.social {
  position: relative;
}

.follow-us .social {
  padding: 1rem;
  margin-bottom: 25px;
  border: solid black 3px;
  border-radius: 1rem;
  align-items: center;
  justify-content: center;
}
