/* Seccion Welcome */

.welcome {
  min-height: 450px;
  text-align: center;
  color: black;
  .welcome-central {
    padding: 3rem;
    img {
      animation-duration: 3s;
      animation-name: movimiento;
      animation-iteration-count: 1;
    }
  }
}

@keyframes movimiento {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Seccion Follow Us */

.follow-us {
  padding: 40px;
  .follow-us-contenedor {
    padding-top: 20px;
    margin-bottom: 30px;
  }
  .social-button {
    padding: 0.2rem;
    margin-bottom: 20px;
    border: solid black 3px;
    border-radius: 1rem;
    align-items: center;
    justify-content: center;
    background-color: $main-color;
    position: relative;
    overflow: hidden;
    transition: transform 500ms ease;
    &:hover,
    &:focus-within {
      transform: scale(1.05);
      background-image: $main-gradient;
    }
  }
  img {
    padding: 5px;
    text-align: center;
    justify-content: center;
  }
}

.social-title {
  color: $main-color;
  font-family: $font-two;
  background-color: $secondary-color;
  border: solid black;
  border-top-left-radius: 100rem;
  border-top-right-radius: 100rem;
  transform: translateY(150%);
  transition: transform 500ms ease;
}

.social:hover {
  .social-title {
    transform: translateY(30%);
    transition-delay: 10ms;
  }
}
