.body-label {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.titulo-label {
  text-align: center;
  font-family: "Roboto", sans-serif;
}

.texto-label-es {
  text-align: justify;
  border-style: solid;
  max-width: 50%;
  margin: 1rem;
}

.texto-label-en {
  text-align: justify;
  border-style: solid;
  max-width: 50%;
  margin: 1rem;
}

.parrafo1 {
  margin: 2rem;
}

.parrafo2 {
  margin: 2rem;
}

.location {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.findus-mapa {
  display: flex;
  text-align: center;
  border-style: solid;
  border-radius: 1rem;
  max-width: 50%;
  padding: 0.8rem;
  margin: 1rem;
}
