.navbar {
  padding: 1.5rem 2rem 1.5rem 2rem;
  background-color: black;
}

.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.nav-link {
  color: #ff051b;
  font-family: "Roboto", sans-serif;
  &:hover,
  &:focus {
    opacity: 0.65;
    color: white;
  }
}

.navbar-banner {
  margin: 0rem 1rem 0rem 0rem;
}

.navbar-toggler {
  color: #ff051b;
}
