.productos-disponibles {
  padding: 40px;
  img {
    height: 100%;
    width: 100%;
    padding: 10px;
    border-radius: 30px;
  }
}

.productos {
  border-radius: 30px;
  display: block;
  position: relative;
  background-color: $main-color;
  border: solid black;
  padding: 20px;
  h3 {
    margin: 1rem;
    font-family: $font-two;
  }
  .btn {
    font-family: $font-two;
    background-color: $secondary-color;
    border-color: $secondary-color;
  }
}

.shop-contenedor {
  padding-top: 60px;
  margin-bottom: 40px;
}
