/* Colores */
$main-color: #ff051b;
$secondary-color: black;
$tertiary-color: #92071e;

/* Fuentes */
$font-one: "Playfair Display", serif;
$font-two: "Roboto", serif;
$title-size: 3rem;
$subtitle-size: 2rem;
$third-size: 1.3rem;
